
  <nav class="navbar navbar-dark bg-dark">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Angilarikas</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Ataria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/proiektuak">Proiektuak</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/nor-garen">Nor garen</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="harremana">Harremana</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </nav>
  
<router-outlet></router-outlet>